# Common ignores
.DS_Store
.idea
.vscode
.envrc

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*
/cargo-bazel-lock.json
/MODULE.bazel
/MODULE.bazel.lock

/zombienet
/demo/sovereign/target
/demo/sovereign/demo-rollup/demo_data
/target
