[workspace]
resolver = "2"
members = [
    "sugondat-chain/node",
    "sugondat-chain/pallets/*",
    "sugondat-chain/runtimes/*",
    "sugondat-chain/primitives",
    "adapters/sovereign",
    "sugondat-nmt",
    "sugondat-shim",
    "sugondat-shim/common/rollkit",
    "sugondat-shim/common/sovereign",
    "sugondat-subxt",
    "e2e_tests"
]

[profile.release]
panic = "unwind"
